/* /Добавить миксины для схожих стилей постов/ */


body{
  min-width: 320px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
  height: auto;
}

h3{
  font-family: 'League Gothic';
  color: #076e9f;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

.accent_color{
  color: $accent;
}

.accent_color2{
  color: $accent2;
}

// .visually-hidden:not(:focus):not(:active) {
//   position: absolute;

//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;

//   white-space: nowrap;

//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

.visually-hidden{
  font-size: 0;
}